*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  width: 95vw;
  height: 100vh;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  margin: auto;
}


button:focus{
  outline: none;
  border: none;
}

.message{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  transition: opacity .2s ease-out;
}

.message span{
  font-weight: 700;
  margin-right: 5px;
  margin-left: 5px;
  pointer-events: none;
}

.message.hidden{
  opacity: 0;
}